<mat-toolbar>
	<span style="margin-left: .5vw">BYU OIT AV Monitoring</span>
	<span class="spacer"></span>
	<button mat-button [matMenuTriggerFor]="options" style="margin-right: .5vw">{{ user.username }}</button>

	<mat-menu #options>
		<button mat-menu-item routerLink="/logout">
		  <span class="menu-item">Logout</span>
		</button>
	  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
	<mat-drawer mode="side" opened class="sidenav">
		<button mat-flat-button routerLink="/dashboard" routerLinkActive="mat-accent">Dashboard</button>
		<button mat-flat-button routerLink="/rooms" routerLinkActive="mat-accent">Rooms</button>
		<button mat-flat-button routerLink="/commands" routerLinkActive="mat-accent">Commands</button>
	</mat-drawer>

	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
