.base {
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.filters {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2vh;

	.search {
		width: 40%;
	}
}

.rooms {
	width: 80%;

	.card {
		width: 80%;
		height: 30%;
		display: flex;
		flex-direction: row;
		align-items: center;

		.name {
			font-size: 1.1em;
		}
	}
}

$card-width: 200px;
.room-list {
	width: 80%;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-left: 3vw;
	margin-right: 3vw;
}

.room-card {
	min-width: $card-width;
	width: $card-width;
	margin: 1vh;
	padding: 3vh 3.5vh 3.5vh 3.5vh;
}

.name {
	padding-top: 15%;
	font-size: 1.4em;
}

.spacer {
	flex: 1 1 auto;
}
