.base {
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.filters {
	width: 95%;
	display: flex;
	flex-direction: row;
	align-items: center;

	.search {
		width: 40%;
	}
}

.issues {
	width: 95%;

	.table {
		width: 100%;

		.hidden {
			display: none;
		}
	}
}


.spacer {
	flex: 1 1 auto;
}
