.command-list {
	width: 85%;
	margin: auto;
	padding: 5vh;
	border-radius: 25px;
}

.command {
	display: flex;
	align-items: center;
	padding: 2vh 0 2vh 0;

	.section-1 {
		width: 20%;
		display: flex;
		justify-content: left;
		font-size: 18px;
	}

	.section-2 {
		width: 65%;
		display: flex;
		justify-content: left;

		.mat-form-field {
			width: 40%;
			padding-left: 5%;
		}
	}

	.section-3 {
		width: 15%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.status {
			width: 40%;
		}
	}
}

::ng-deep .command-status-snackbar {
	white-space: pre-wrap;
	justify-content: center;
	background-color: #424242;
	color: white;
}